//项目提供全局scss变量，在vite.config.ts中已经配置好了

//项目主题颜色
$theam: red;
//左侧侧边栏的宽度
$base_menu_width: 210px;
//左侧侧边栏折叠的宽度
$base_menu_min_width: 50px;
//左侧侧边栏的背景色
$base_menu_color: #001529;
//上方导航栏的高度
$base_tabbar_height: 35px;
//左侧侧边栏标题的高度
$base_menu_title_height: 50px;
//logo的宽度
$base_logo_width: 35px;
//logo的高度
$base_logo_height: 35px;
